.stars{
    position: relative;
    width: 125px;
    height: 20px;
    background-color: lightgrey;
    filter: brightness(90%)
    
}

.gold{
    position: relative;
    height: 20px;
    background-color: gold;
}

.stars-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(55, 0, 0, 0.1); /* Dark background */
    position: absolute;
    /*z-index: 2;*/
    top: 0; /* Adjust these values to position as needed */
    left: 0;
    right: 0;
    bottom: 0;
  }

  svg polygon{
    fill: transparent; /* Make the inside of the star transparent */
    stroke: white; /* The color of the star's outline */
    
  }