header{
    display: flex;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    padding: 10px ;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: flex;
    gap: 2vw;
}

nav a{
    text-decoration: none;
    color: white;
} 

a{
    color: white;
    text-decoration: none;
}

button{
    cursor: pointer;
}