.tuile-film {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 260px;
    background-color: rgb(240, 234, 234);
    transition: transform 0.3s ease;
    break-inside: avoid;
}

.tuile-film:hover{
    border: 1px solid lightgrey;
    transform: scale(1.1);
}

.info{
    padding: 1vw;
    text-decoration: none;
}
