main {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.tuiles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4vw;
  border: 3px solid black;
  border-radius: 5px;
  padding: 2vw;
  background-color: rgb(59, 57, 75);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

