.select-wrapper {
    position: relative;
    width: 340px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
    color: #fff;
}

.select-wrapper select {
    width: 100%;
    padding: 10px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: black;
}

.select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    font-size: 12px;
    color: #aaa;
    pointer-events: none;
    display: flex;
    align-items: center;

}

